* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font: 18px/23px 'Tahoma', sans-serif;
    background: url(../img/bg.jpg) repeat-x #0c739f;
}

ul {
    list-style: none
}

.container {
    width: 1000px;
    margin: 0 auto;
    box-shadow: 0 5px 5px #031d28  ;
    background-color: #ffffff;
}

.clear_fix:after{
    content: "";
    display: block;
    clear: both;
}

.container2{
    padding: 7px 28px 0;
}

.box1{
    float:left;
}
.contacts{
    float:right;
    font-size: 12px;
    line-height: 18px;
    color: #128aa7;
}

span{
    font-weight: bold;
}

.countries{
    margin-top: 25px;
    margin-bottom:7px;
    margin-left: 175px;
    float:right;
}

.countries_menu__item{
    float:left;
    padding-left: 15px;
    width: 68px;
}

.countries_menu__link{
    display: block;
    color: #128aa7;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
}

.box2{
    border-top: 1px solid #138aa7;
    border-bottom: 1px solid #138aa7;
    height: 237px;
}

.nav_menu{
    background-color: #353535;
    box-shadow: 1px 1px 5px #031d28;
}

.nav_menu__item{
    height: 30px;
    float: left;
    position: relative;
}

.triangle:after {
    content: '';
    position: absolute;
    width: 0;
    top: 11px;
    right: 18px;
    height: 0;
    border-top: 7px solid #ffffff;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

.nav_menu__link{
    display: block;
    font-size: 14px;
    line-height: 16px;
    padding: 6px 30px;
    text-decoration: none;
    color:#ffffff;
    position: relative;
}

.drop-down_menu{
    display: none;
    position: absolute;
    width: 150px;
    left: 15px;
    background: #353535;
    border-top:1px solid #000;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
}

.drop-down_menu__item{
    padding: 2px 15px;
}

.drop-down_menu__link{
    color:#ffffff;
    font-size: 14px;
    text-decoration: none;
}

.nav_menu__item:hover>.drop-down_menu{
    display: block;
}

.container1{
    display: table;
    width: 1000px;
    box-sizing: border-box;
    color: #424c43;
    font-size: 14px;
    margin-top: 4px;
}

.sidebar{
    display: table-cell;
    vertical-align: top;
    font-size: 14px;
    line-height: 24px;
    min-width: 210px;
    max-width: 210px;
    width: 210px;
    background-color: #edeef0;
    box-sizing: border-box;
    padding: 0 25px 10px 15px;
}

.content{
    display: table-cell;
    vertical-align: top;
    width: 580px;
    max-width: 580px;
    min-width: 580px;
    background-color: #ffffff;
}

h1{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

footer{
    text-align: center;
    width: 1000px;
    margin: 10px auto;
    color: #ffffff;
    font-size: 12px;
}